</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <header>
      <navbar>
        <ul class="nav justify-content-space-evenly">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Add Item</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/admin/preview">Preview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="admin/settings" tabindex="-1">Settings</a>
          </li>
        </ul>
      </navbar>

    </header>