.row {
    /* border: 2px solid red; */
}

.col{
    /* border: 2px solid green; */
}
.card{
    background-color: grey;
}
.price{
    color: red
}
.triplet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
