body{
    background-color:  #1b6265;
    color: rgb(216, 216, 216);

}
.catalog{
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px dotted white; */
    
}
.scrollspy-example {
    position: relative;
    overflow: auto;
    height: 80vh;
    /* border: 2px dotted greenyellow; */
    box-shadow: 1px -8px 20px 9px #00292b;;
}

.catalog .shoe{
    margin-bottom: 2vh;
} 
 .catalog .shoe-img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-color: #ffc4e7;
}
.catalog img {
    box-shadow: -7px -7px 13px 3px #1a3e80b3;
}
.catalog .price {
    color: #ef513f;
    font-size: 19px;
}
.catalog .icon-form {
    margin-top: -20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
.catalog .item-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.catalog .cart-icon {
    /* border: 3px solid #ff00008f; */
    /* border-radius: 50%; */
    width: max-content;
}
.catalog .cart-icon button{
    background-color: inherit;
    color: #ea7a7a;
    font-size: 20px;
    border:none;
    /* border: 2px solid #ea7a7ac2; */
    /* border-radius: 50%; */
}
.catalog .pagination{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.catalog .pagination  li{
    color: #ef513f;
    padding: 5px;
    font-size: 15px;
}
.catalog .pagination .active{
    box-shadow: 0px 5px;
}
.catalog  .filter{
    box-shadow: 1px -8px 20px 9px #00292b;
    color: white;
}

.catalog .accordion button{
    color: #a0bedc;
    width: -webkit-fill-available;
    background: inherit;

}
.catalog .accordion button{
    border: none;
    color: #a0bedc;
    width: -webkit-fill-available;
    background: inherit;

}
.catalog .accordion button:focus{
    border-bottom: 2px solid #e7f1ff;
    /* outline: none; */
    box-shadow: none;

}
.catalog .accordion-header {
    background-color: none;
}
 .accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: none;
    border-bottom: 2px solid #e7f1ff;
}


@media (min-width: 360.98px) and (max-width: 767.98px){ 
   .catalog .filter{
       display: none;
   }
   .catalog .space{
       display: none;
   }
   .catalog-items{
    width: fit-content;
   }
 }

 /* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .catalog .filter{
        display: none;
    }
    .catalog .space{
        display: none;
    }
    .catalog-items{
        width: fit-content;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .catalog .filter{
        display: none;
    }
    .catalog .space{
        display: none;
    }
    .catalog-items{
        width: fit-content;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .catalog .filter{
        display: block;
    }
    .catalog .space{
        display: block;
    }
    .catalog-items{
        width: 75%;
    }
    
 }
/* 
// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }