.catalog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog .shoe{
    margin-bottom: 2vh;
} 
 .catalog .shoe-img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-color: #ffc4e7;
}
.catalog img {
    /* style="background-color: #<%= Math.floor(Math.random()*16777215).toString(16).padStart(8, '0')%>" */
    box-shadow: -7px -7px 13px 3px #1a3e80b3;
}
.catalog .price {
    color: #ef513f;
    font-size: 19px;
}
.catalog .icon-form {
    margin-top: -20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
.catalog .item-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.catalog .cart-icon {
    border: 3px solid #ff00008f;
    border-radius: 50%;
    width: max-content;
}
.catalog .cart-icon button{
    background-color: inherit;
    font-size: 20px;
    border: 2px solid #ea7a7ac2;
    border-radius: 50%;
}
.catalog .pagination{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.catalog .pagination  li{
    color: #ef513f;
    padding: 5px;
    font-size: 15px;
}
.catalog .pagination .active{
    box-shadow: 0px 5px;
}
.catalog .col-md-3.filter{
    display: none;
}



@media (min-width: 360.98px) and (max-width: 767.98px){ 
   .catalog .col-md-3.filter{
       display: none;
   }
   .catalog-items{
    width: fit-content;
   }
 }

 /* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .catalog .col-md-3.filter{
        display: none;
    }
    .catalog-items{
        width: fit-content;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .catalog .col-md-3.filter{
        display: none;
    }
    .catalog-items{
        width: fit-content;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .catalog .col-md-3.filter{
        display: block;
    }
    .catalog-items{
        width: 75%;
    }
    
 }
/* 
// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }