/* Credit Card */
.credit-card{
    justify-content: center;
  }
.credit-card .front{
    position: relative;
    z-index: 10;
    box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.75);
    border-radius: 5px;
}
.credit-card .back {
    position: absolute;
    left: 47vw;
    top: 26px;
    box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.75);
    border-radius: 5px;
}