body{
    background-color: #1b3465;
    color: rgb(216, 216, 216);
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: inherit;

}
.home-display{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.home-display .container{
    box-shadow: 1px -8px 20px 9px #021e48;
    
}
.home .shoe-info-container{
    height: auto; 
    margin-top: 0;
    width: 90vw;
 }
.home-display .container .display-item{
    /* background-color: white; */
    height: 50vh;
    
}

.brand-image{
    height: 80px;
    width: 100px;
}
.brand-image img{
    width: inherit;
    height: inherit;
}
.brand-slogan{
    margin-top: 20px;
    height: 30vh;
}
.brand-slogan .slogan h1 {
    font-size: 55px;
    /* letter-spacing: 6px;      this will inline styling */
 }
.home .display-name{
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.home .display-shoe{
    height: 50vh;
    display: flex;
    justify-content: center;
    
}
.home .display-shoe .shoe{
    width: inherit;
    height: 34vh;
    margin: -120px;
    margin-top: 152.1px;
    transform: rotate(24deg);
    position: relative;
    z-index: 10;

}
.home .display-shoe .shoe img{
    width: inherit;
    height: inherit;
}


  
.platform{
    
    position: absolute;
    border: 8px solid #b5a8a8;
    width: 49.5vw;
    height: 50px;
    border-radius: 50%;
    /* border-top: none; */
    top: 50vh;
    left: 14vw;
    transform: skewY(
24deg
);
    
  }
  
  .platform1{
    border: 8px solid #9a2e31;
    width: 96%;
    height: 40px;
    margin-left: 4px;
    border-radius: 50%;
  }
  .platform2{
    border: 3px solid #9c8c33;
    width: 94%;
    height: 30px;
    margin-left: 4px;
    border-radius: 50%;
  
  }
  

  /* owl-carousel */
  /* =======================
   */
   .home .carousel-container{
    height: 12vh; 
   }
   .home .owl-carousel {
       height: inherit;
   }
   .home .owl-stage-outer{
       height: 9vh;
   }
   .home .owl-stage-outer .owl-stage{
       height: inherit;
   }
   .home .owl-carousel .owl-item{
       background-color: white;
       margin-top: 25px;
       border-radius: 15px;
   }
   .owl-carousel .owl-nav{
       display: none;
   }
   .owl-carousel .owl-dots{
        margin-top: 15px;
   }

   .owl-carousel .owl-img{
       display: flex;
    } 
    
   .owl-carousel .randomItem{
       font-size: 18px;
       color: #1b3465;
       width: inherit;
       background: inherit;
       border-radius: 50px;
   }
   .owl-carousel .randomItem img{
       border-radius: 15px;
   }
   .owl-carousel .randomItem .randomItem-info{
        width: -webkit-fill-available;
        justify-content: space-between;
        align-items: center;
   }
   .owl-carousel form button{
        background-color: inherit;
        font-size: 20px;
        border: none;
        border-radius: 10%;
        color: #f99c64;
   }
   
/* 
   @media (min-width: 320px) and (max-width: 767.98px){ 

    .home .shoe-info-container{
        width: 90vw;
    }
    
  } */
 
  /* // X-Small devices (portrait phones, less than 576px) */
 /* // No media query for `xs` since this is the default in Bootstrap */
 
 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 320px) {
    .home .shoe-info-container{
        width: 90vw;
    }
    .platform{
        display: none;
      }
  }


 @media (min-width: 576px) {
     .platform{
       display: none;
     }
    .home .shoe-info-container{
        width: 90vw;
    }
  }
 
 /* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px){
      .home .shoe-info-container{
          width: 90vw;
      }
 
  .home .container, .container-md, .container-sm {
      max-width: 90vw;
  }
  .platform{
    display: none;
  }

}




 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) { 
     .home .container{
         width: inherit;
     }
     .home .shoe-info-container{
        height: auto; 
        margin-top: 8vh
     }
    .home .display-shoe .shoe{
        width: 42vh;
        height: inherit;
        margin: auto;
        margin-top: -60px;
        transform: rotate(24deg);
        position: relative;
        z-index: 10;
    }
    .home .display-name {
        height: 35vh;
        justify-content: flex-end;
        align-items: center;
    }
    /* .home .display-shoe{
        height: 50vh;
        display: flex;
        justify-content: center;
        
    } */
    .platform{
        display: block;
        position: absolute;
        border: 8px solid #b5a8a8;
        width: 27.5vw;
        height: 50px;
        border-radius: 50%;
        top: 50vh;
        left: 32vw;
        transform: skewY(24deg);
        
    }
    .home .carousel-container{
    height: 22vh; 
    }
    .home .owl-stage-outer{
    height: 18vh;
    }
    .owl-carousel .randomItem{
        font-size: 13px;
        width: 18vw;
        border-radius: 20px;
    }
  }
 /* 
 // X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
     
   }
 
 /* // XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) {  }