body{
    background-color: #1b3465;
    color: rgb(216, 216, 216);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: inherit;

}
.home{
    margin-bottom: auto;
    margin-top: 3vh;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.home-display .container{
    box-shadow: 1px -8px 20px 9px #021e48;
    
}
.home .shoe-info-container{
    height: auto; 
    margin-top: 0;
    width: 90vw;
 }
.home-display .container .display-item{
    /* background-color: white; */
    /* height: 50vh; */
    
}

.brand-image{
    height: 80px;
    width: 100px;
}
.brand-image img{
    width: inherit;
    height: inherit;
}
.brand-slogan{
    margin-top: 20px;
    height: 30vh;
}
.brand-slogan .slogan h1 {
    font-size: 55px;
    /* letter-spacing: 6px;      this will inline styling */
 }
.home .display-name{
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.home .display-shoe{
    height: 50vh;
    display: flex;
    justify-content: center;
    
}
.home .display-shoe .shoe{
    width: inherit;
    height: 34vh;
    margin: -120px;
    margin-top: 152.1px;
    transform: rotate(24deg);
    position: relative;
    z-index: 10;

}
.home .display-shoe .shoe img{
    width: inherit;
    height: inherit;
}


  
.platform{
    
    position: absolute;
    border: 8px solid #b5a8a8;
    width: 49.5vw;
    height: 50px;
    border-radius: 50%;
    /* border-top: none; */
    top: 50vh;
    left: 14vw;
    transform: skewY(
24deg
);
    
  }
  
.platform1{
    border: 8px solid #9a2e31;
    width: 96%;
    height: 40px;
    margin-left: 4px;
    border-radius: 50%;
}
.platform2{
    border: 3px solid #9c8c33;
    width: 94%;
    height: 30px;
    margin-left: 4px;
    border-radius: 50%;

}


  /* owl-carousel */
  /* =======================
   */
.owl-carousel{
    margin-top: 30px;
    margin-bottom: 30px;
}
.owl-stage{
    height: fit-content;
    margin-top: 12px;
}
.owl-nav{
    display: none;
}
.form-price{
    /* border: 2px dotted red; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 15px;
}
.form-price form{
    margin-bottom: 0;
}
.form-price form button {
    background-color: inherit;
    font-size: 27px;
    border: none;
    border-radius: 10%;
    color: #f99c64;
}
 


 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 320px) {
    .home .shoe-info-container{
        width: 90vw;
    }
    .platform{
        display: none;
      }
  }


 @media (min-width: 576px) {
    .brand-image {
        height: 67px;
        width: 85px;
    }
    .brand-slogan .slogan h1 {
        font-size: 24px;
        margin-top: -34px;
    }
    .home .display-shoe .shoe {
        width: inherit;
        height: 48vh;
        margin: -120px;
        margin-top: inherit;
     
    }
     .platform{
       display: none;
     }
    .home .shoe-info-container{
        width: 90vw;
    }
  }
 
 /* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px){
    /* .home{
        height: auto;
    } */
    .brand-image {
        height: 67px;
        width: 85px;
    }
    .brand-slogan .slogan h1 {
        font-size: 19px;
        margin-top: -34px;
    }
    .home .display-name h4{
        font-size:16px
    }
    .home .display-shoe .shoe {
        width: inherit;
        height: 40vh;
        margin: -120px;
        margin-top: inherit;
        
    }
    
      .home .shoe-info-container{
          width: 90vw;
      }
 
  .home .container, .container-md, .container-sm {
      max-width: 90vw;
  }
  .platform{
    display: none;
  }

}





 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) { 
    .home{
        height: -webkit-fill-available;
    }
     .home .container{
         width: inherit;
     }
     .home .shoe-info-container{
        height: auto; 
        margin-top: 3vh
     }
     .home .brand-image {
        height: 80px;
        width: 100px;
    }
    .brand-slogan .slogan h1 {
        font-size: 55px;
        margin-top: 0px;
    }
    
    .home .display-shoe .shoe{
        width: 42vh;
        height: inherit;
        margin: auto;
        margin-top: -60px;
        transform: rotate(24deg);
        position: relative;
        z-index: 10;
    }
    .home .display-name {
        height: 35vh;
        justify-content: flex-end;
        align-items: center;
    }
    .home .display-name h4{
        font-size: 24px
    }
    .platform{
        display: block;
        position: absolute;
        border: 8px solid #b5a8a8;
        width: 27.5vw;
        height: 50px;
        border-radius: 50%;
        top: 50vh;
        left: 32vw;
        transform: skewY(24deg);
        
    }
    .form-price{
        border: 2px dotted red;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        font-size: 20px;
    }
   
}
 /* 
 // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
     
   }
 
 /* // XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) {  }