body{
    margin: 0px;
}
  /* NAV BAR
  =============================================================================================== */

  .navbar-nav{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-evenly;
  }
nav a{
    color: #c5c5c5e8;
  }
nav a:focus, nav a:active{
    color: #c5c5c5e8;
  }
  nav a:hover{
    color: #c5c5c5e8;
  }
.nav-icon{
  display: flex;
  font-size: 20px;
  margin: auto;
}
ul > li.nav-item > a{
  color: rgb(186, 181, 210, 55%);
}
ul > li.nav-item.active > a{
  color: rgba(223, 219, 245, 0.952);

}
ul > li.nav-item:active > a{
}
.navbar-toggler-icon{
  background-image: url('/images/images/menutoggle.png');
}
.navbar-toggler span{
  background-color:  aliceblue;
  border-radius: 8px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

/* .account{
  color: rgba(255,255,255,.55);
  font-size: 20px;
} */

ul li.nav-item a:hover{
  color: rgba(255, 255, 255, 0.705);
}





/* 
FOOTER
======================================== */

/* Footer */
.footer{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 12px 0px #021e48;
  }
.footer p {
  font-size: 10px;
  margin-left: 15px;
  margin-top: 10px;
}
.footer ul {
    display: flex;
    margin-bottom: 0;
    margin-top: 10px;
}
.footer ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}
.footer .col-md-6 {
    margin: auto;
}
.footer-payment{
  margin-bottom: 30px;
}
.footer-payments img {
  height: 20px;
  width: 20px;
}

/* SCroll */

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #dfeafd;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c5d3eb;
}
::-webkit-scrollbar-thumb:active {
  background: #d6e5ff;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}