.order-container{
    /* border: 2px solid red; */
    margin-bottom: 20px;
}
.orderNo-paid{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
.order-form .btn:hover{
    color: salmon
}