/* .platform{
    position: absolute;
    border: 8px solid #b5a8a8;
    width: 53%;
    height: 50px;
    border-radius: 50%;
    border-top: none;
    top: 28vh;
    transform: skewY( 
187deg
 );
  
}
.platform1{
  border: 8px solid red;
  width: 96%;
  height: 40px;
  margin-left: 4px;
  border-radius: 50%;
  border-top: none;
}
.platform2{
  border: 3px solid gold;
  width: 94%;
  height: 30px;
  margin-left: 4px;
  border-radius: 50%;
  border-top: none;

} */