body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

.nav-link{
  text-align: left;
}

.d-flex{
  border: 2px solid red;
}

.nav{
  justify-content: space-evenly;
}
.nav-link{
  font-size: 29px;
  height: 70px;
}

.addform {
  width: 700px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.price{
  color: red
}
.triplet{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.spacebttm{
  margin-bottom: 20px;
}

.container {
  /* border:2px solid red */
}
.container .row {
  /* border: 2ps solid green */
}
.col-4{
  /* border: 2px solid blue; */
}
.col-8{
  /* border: 2px solid yellow; */
}

.product-image{
  max-width: -webkit-fill-available;
  height: 360px;
}
.product-sub-image {
  /* width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; */
  
}
.product-sub-image img{
  width: 60px;
  height: 60px
  
}
.product-price-rating{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-color{
  display: flex;
  justify-content: initial;
  align-items: baseline;
}
.product-color span{
  margin-left: 10px;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  position: relative;
  cursor: pointer;
  border-radius: 100%;
}

.product-size, .product-category{
  display: flex;
}
.product-size span {
  margin-left: 10px;
}
.product-category span {
  margin-left: 10px;
}



.product-tags {
  display: flex;
}
.product-tags ul {
  display: flex;
  padding-left: 1rem;
}
.product-tags ul li{
  margin-right: 10px
}
 li {
  list-style: none;
}

.share{
  display: flex;
}
.share span {
  margin-left: 10px;
}



/* =============================================================================================== */
.brief{
  margin-top: 100px;
}



nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

  border-bottom:  3px solid red 
}
.tab-content>.active{
  margin-top: 50px;
}

.table {
  width: 50%;
  margin-bottom: 1rem;
  color: #212529;
  margin: auto;
}

.dimtext{
  color: #687188;
    
}

div.form-check{
  /* border: 2px solid red; */
  /* margin: 0; */
  padding-left: 40px;
  align-self: flex-start;
}