



<%# Featured Products Carousel %> 
<section class="owl-container">
    <h3>Featured items you may like</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme">
                <% if(products.length > 0){ %> 
                    <% for(let product of products){ %> 
                        <div class="item">
                            <a href="/shop/product/<%= product._id %>" class="">
                                <img src=<%= product.image %> class="card-img-top" alt="cloth" style="height:250px">
                            </a>
                            <p class=""><%= product.name %></p>
                            <p class="price">$<%= product.price %></p>
                            <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                            <span class="fas fa-star-half-alt checked"></span>
                             </p>
                        </div>

                    <% } %> 
                <% }else{ %> 
                    <h1>Shop not Set up yet</h1>
                <% } %> 
            </div>
        </div>
    </div>
</section>

<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:50,
    responsiveClass:true,
    pagination: false,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
        }
    }
})
</script>