



<%# Featured Products Carousel %> 
<section class="owl-container">
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="images/carousel/product_img1.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img2.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img3.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img4.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img5.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img6.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img7.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img8.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img9.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img10.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img11.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                <div class="item">
                    <img src="images/carousel/product_img12.jpg" class="card-img-top" alt="cloth">
                    <a href="#" class=""> Clothes </a>
                    <p class="price">$250 <span>discount</span></p>
                    <p><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
                    <span class="fas fa-star-half-alt checked"></span>
                     </p>
                </div>
                
            </div>
        </div>
    </div>
</section>

<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:50,
    responsiveClass:true,
    pagination: false,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
        }
    }
})
</script>