
<section class="newsletter">
    <div class="container">
        <div class="row">

     
    <div class="subscribe col-lg-6">
        <h3>Subscribe Our Newsletter</h3>
    </div>
    <div class="search col-lg-6">
        <nav class="navbar navbar-light ">
            <div class="container-fluid">
              <form class="d-flex input-search">
                <input class="form-control " type="search" placeholder="Enter Email Address" aria-label="Search">
                <button class="btn " type="submit">Subscribe</button>
              </form>
            </div>
          </nav>
    </div>
</div>
</div>
</section>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 footer-item">
                <h1>Image Logo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

            </div>

            <div class="col-lg-2 footer-item">
                <h1>Useful Links</h1>
                <p><a href="#">About us</a></p>
                <p><a href="#">FAQ</a></p>
                <p><a href="#">Location</a></p>
                <p><a href="#">Affiliates</a></p>
                <p><a href="#">Contact</a></p>
            </div>
            <div class="col-lg-2 footer-item">
                <h1>Category</h1>
                <p><a href="#">Men</a></p>
                <p><a href="#">Women</a></p>
                <p><a href="#">Kids</a></p>
                <p><a href="#">Best Seller</a></p>
                <p><a href="#">New Arrivals</a></p>
            </div>
            <div class="col-lg-2 footer-item">
                <h1>My Account</h1>
                <p><a href="#">My Account</a></p>
                <p><a href="#">Discount</a></p>
                <p><a href="#">Returns</a></p>
                <p><a href="#">Order History</a></p>
                <p><a href="#">Order Tracking</a></p>
            </div>
            <div class="col-lg-2 footer-item">
                <h1>Contact Info</h1>
                <p class="location">Toronto,Ca</p>
                <p><span></span> info@nicelikeice.com</p>
                <p><span></span> +1 416 843 6683</p>
            </div>
        </div>
    </div>
    <hr>
    
    <!-- <div class="">
        <p class="mb-md-0 text-center text-md-left">© 2020 All Rights Reserved by Daniel</p>
    </div>
    <div class="logos">
        <p><span>Visa logo</span></p>
        <p><span>Discover logo</span></p>
        <p><span>Master logo</span></p>
        <p><span>Paypal logo</span></p>
        <p><span>America express logo</span></p>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-md-0 text-center text-md-left">© 2020 All Rights Reserved by Daniel Tonye</p>
            </div>
            <div class="col-md-6">
                <ul class=" footer-cards text-center text-lg-right">
                    <li><a href="#" class="payments"><img src="/images/payments/visa.png" alt="visa"></a></li>
                    <li><a href="#" class="payments"><img src="/images/payments/discover.png" alt="discover"></a></li>
                    <li><a href="#" class="payments"><img src="/images/payments/master.png" alt="master_card"></a></li>
                    <li><a href="#" class="payments"><img src="/images/payments/paypal.png" alt="paypal"></a></li>
                    <li><a href="#" class="payments"><img src="/images/payments/amerx.png" alt="amarican_express"></a></li>
                </ul>
            </div>
        </div>
    </div>
    
</footer>


<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>



<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- font-awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js" integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw==" crossorigin="anonymous"></script>

<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>


<script src="/javascript/helper.js"></script>
</body>
</html>
