
 </head>
 <body>


  <nav class="navbar navbar-expand-lg  ">
    <a class="navbar-brand" href="/shop">
      SimpleTon
      <!-- <img src="/images/carousel/logo.png" alt="" width="30" height="24"> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/shop">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/catalog/1">Catalog</a>
        </li>
        <li class="nav-item">
          <% if (user) { %>
            <a href="/shop/account" class="nav-link" ><i class="fas fa-user-circle"></i> My Account</a>
          <% } else { %>
            <a href="/auth/google" class="nav-link"> My Account</a>
          <% } %>
        </li>
        <li class="nav-item log">
          <% if (user) { %>
            <a href="/logout" class="nav-link log" ><i class="fas fa-sign-out-alt"></i> <span class='hide'> Logout</span> </a>
              
          <% } else { %>
            <a href="/auth/google" class="nav-link log" ><span><i class="fas fa-sign-out-alt"></i></span><span class="hide">Login</span></a>
            
          <% } %>
        </li>
        <li class="nav-item log">
          <% if (user) { %>
            <a href="/shop/cart" class="nav-link"><i class="fas fa-shopping-bag"></i> Cart</a>
          <% } else { %>
            <a href="/shop/cart" class="nav-link"><i class="fas fa-shopping-bag"></i> Cart</a>
          <% } %>
        </li>

      </ul>
      <!-- <div class="nav-icon">
        <div class="shopping-cart">
          <% if (user) { %>
            <a href="/shop/cart" class="nav-link"><i class="fas fa-shopping-bag"></i></a>
          <% } else { %>
            <a href="/shop/cart" class="nav-link"><i class="fas fa-shopping-bag"></i></a>
          <% } %>
        </div>
      </div> -->


    </div>
  </nav>

  