
 </head>
 <body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="/shop">
      SimpleTon
      <!-- <img src="/images/carousel/logo.png" alt="" width="30" height="24"> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/shop">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/catalog">Catalog</a>
        </li>
        <li class="nav-item">
          <% if (user) { %>
            <a href="/shop/account" class="nav-link" >Account</a>
          <% } else { %>
            <a href="/auth/google" class="nav-link"> My Account</a>
          <% } %>
        </li>
      </ul>
      <div class="btn-group">
        <div type="button" class="btn account dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>
        </div>
        <div class="dropdown-menu dropdown-menu-right bg-dark">

          <div class="dropdown-item" type="button">
            <% if (user) { %>
              <a href="/shop/account" class="nav-link" >Account</a>
            <% } else { %>
              <a href="/auth/google" class="nav-link"> My Account</a>
            <% } %>
          </div>
          
          <div class="dropdown-item" type="button">
            <% if (user) { %>
              <a href="/shop/account/order" class="nav-link" > My Orders</a>
            <% } else { %>
              <a href="/auth/google" class="nav-link">My Orders</a>
            <% } %>
          </div>

          <div class="dropdown-item" type="button">
            <% if (user) { %>
              <a href="/shop/account/order" class="nav-link" > My Returns</a>
            <% } else { %>
              <a href="/auth/google" class="nav-link">My Returns</a>
            <% } %>
          </div>

          <div class="dropdown-item" type="button">
            <% if (user) { %>
              <a href="/logout" class="nav-link" >Log Out</a>
            <% } else { %>
              <a href="/auth/google" class="nav-link" >Login</a>
            <% } %>
          </div>
          
        </div>
      </div>
      <div class="nav-icon">
        <div class="shopping-cart">
          <% if (user) { %>
            
            <a href="#" class="nav-link"><i class="far fa-heart"></i></a>
          <% } else { %>
            <a href="/auth/google" class="nav-link"><i class="far fa-heart"></i></a>
          <% } %>
        </div>

        <div class="wish-list">
          <% if (user) { %>
            <a href="/shop/cart" class="nav-link"><i class="fas fa-shopping-bag"></i></a>
          <% } else { %>
            <a href="/shop/cart" class="nav-link"><i class="fas fa-shopping-bag"></i></a>
          <% } %>
        </div>
      </div>


    </div>
  </nav>

  