<link rel='stylesheet' href='/stylesheets/profile.css' />




<section class="profile">
    <div class="container">
        <form action='#' enctype="multipart/form-data" class="profile-form">
            <div class="user-name user-info">
                <label for="exampleInputName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="exampleInputname1" disabled value="<%= user.name %> ">
            </div>
            <div class="user-email user-info">
                <label for="exampleInputEmail" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" disabled value="<%= user.email %>">
            </div>
        </form>
    </div>
</section>