<section class="brief">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc" type="button" role="tab" aria-controls="desc" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="add-Info-tab" data-bs-toggle="tab" data-bs-target="#add-Info" type="button" role="tab" aria-controls="add-Info" aria-selected="false">Additional Info</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="rev-tab" data-bs-toggle="tab" data-bs-target="#rev" type="button" role="tab" aria-controls="rev" aria-selected="false">Reviews</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active dimtext" id="desc" role="tabpanel" aria-labelledby="desc-tab">
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Vivamus bibendum magna Lorem ipsum dolor sit amet, consectetur adipiscing elit.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      </p>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
      </p>
    </div>
    <div class="tab-pane fade" id="add-Info" role="tabpanel" aria-labelledby="add-Info-tab">
      <table class="table table-bordered">
        <tbody><tr>
            <td>Capacity</td>
            <td>5 Kg</td>
        </tr>
          <tr>
              <td>Color</td>
              <td>Black, Brown, Red,</td>
          </tr>
          <tr>
              <td>Water Resistant</td>
              <td>Yes</td>
          </tr>
          <tr>
              <td>Material</td>
              <td>Artificial Leather</td>
          </tr>
    </tbody></table>
    </div>
    <div class="tab-pane fade" id="rev" role="tabpanel" aria-labelledby="rev-tab">
      <div class="comments">
          <ul class="list_none comment_list mt-4">
              <li>
                  
                  <div class="comment_block">
                      <div class="rating_wrap">
                          <div class="rating">
                              <div class="product_rate" style="width:80%"></div>
                          </div>
                      </div>
                      <p class="customer_meta">
                          <span class="review_author">Alea Brooks</span>
                          <span class="comment-date dimtext ">March 5, 2021</span>
                      </p>
                      <div class="description dimtext">
                          <p>Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate</p>
                      </div>
                  </div>
              </li>
              <hr>
              <li>
                  <div class="comment_block">
                      <div class="rating_wrap">
                          <div class="rating">
                              <div class="product_rate" style="width:60%"></div>
                          </div>
                      </div>
                      <p class="customer_meta">
                          <span class="review_author">Grace Wong</span>
                          <span class="comment-date dimtext">Feb 17, 2021</span>
                      </p>
                      <div class="description dimtext">
                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                      </div>
                  </div>
              </li>
          </ul>
    </div>
    </div>
  </div>
</section>
