</head>
<body>
    <h1><a class="navbar-brand" href="/shop">
      <%= title %>
      <!-- <img src="/images/carousel/logo.png" alt="" width="30" height="24"> -->
    </a></h1>
    <p>Welcome to <%= title %></p>
    <header>
      <navbar>
        <ul class="nav justify-content-space-evenly">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Add Item</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/admin/preview/1">Preview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="admin/settings" tabindex="-1">Settings</a>
          </li>
        </ul>
      </navbar>

    </header>