<%- include('./includes/head.ejs')  %> 
<%- include('./includes/nav.ejs')  %> 
<link rel='stylesheet' href='/stylesheets/account.css' />


<section class="myaccount">
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">

            <!-- sidebar contents -->
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">My Account</a>
              <div id="close-sidebar">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="/images/shopper.jpeg" alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-name">FirstName
                  <strong>LastName</strong>
                </span>
                <span class="user-role">Favorite shopper</span>
              </div>
            </div>
        
            <!-- General -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>General</span>
                </li>
                </li>

              </ul>
            <br>


              <div class="nav sidebar-items flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-globe"></i>
                    <span>Profile</span></button>

                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-globe"></i>
                    <span>Manage Address</span></button>

                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa fa-globe"></i>
                    <span>Purchases</span></button>

                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-globe"></i>
                    <span>Billing Information</span></button>
                
              </div>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
          <div class="sidebar-footer">
            <a href="#">
              <i class="fa fa-bell"></i>
              <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
              <i class="fa fa-cog"></i>
              <span class="badge-sonar"></span>
            </a>
            <a href="#">
              <i class="fa fa-power-off"></i>
            </a>
          </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
          <!-- <div class="container">
            <h2>Pro Sidebar</h2>
            <hr>
            <div class="row">
              <div class="form-group col-md-12">
                <p>This is a responsive sidebar template with dropdown menu based on bootstrap 4 framework.</p>
                <p> You can find the complete code on <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
                    Github</a>, it contains more themes and background image option</p>
              </div>
              <div class="form-group col-md-12">
                <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=star&count=true&size=small" frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
                <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
              </div>
              <div class="form-group col-md-12">
                <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading">New !</h4>
                  <p>New react pro sidebar library is now available on <a href="https://www.npmjs.com/package/react-pro-sidebar" target="_blank">npm</a> <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                      <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/react-pro-sidebar?style=social" />
                    </a></p>
                  <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank" class="btn btn-sm btn-primary mr-2">
                    Github</a>
                  <a href="https://azouaoui-med.github.io/react-pro-sidebar" target="_blank" class="btn btn-sm btn-success">
                    Demo</a>
      
                </div>
      
              </div>
            </div>
            <h5>More templates</h5>
            <hr>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="card rounded-0 p-0 shadow-sm">
                  <img src="https://user-images.githubusercontent.com/25878302/58369568-a49b2480-7efc-11e9-9ca9-2be44afacda1.png" class="card-img-top rounded-0" alt="Angular pro sidebar">
                  <div class="card-body text-center">
                    <h6 class="card-title">Angular Pro Sidebar</h6>
                    <a href="https://github.com/azouaoui-med/angular-pro-sidebar" target="_blank" class="btn btn-primary btn-sm">Github</a>
                    <a href="https://azouaoui-med.github.io/angular-pro-sidebar/demo/" target="_blank" class="btn btn-success btn-sm">Demo</a>
                    <hr>
                    <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                      <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/angular-pro-sidebar?style=social" />
                    </a>
                    <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                      <img alt="GitHub stars" src="https://img.shields.io/github/forks/azouaoui-med/angular-pro-sidebar?style=social" />
                    </a>
      
                  </div>
      
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="card rounded-0 p-0 shadow-sm">
                  <img src="https://user-images.githubusercontent.com/25878302/58369258-33f20900-7ef8-11e9-8ff3-b277cb7ed7b4.PNG" class="card-img-top rounded-0" alt="Angular pro sidebar">
                  <div class="card-body text-center">
                    <h6 class="card-title">Angular Dashboard</h6>
                    <a href="https://github.com/azouaoui-med/lightning-admin-angular" target="_blank" class="btn btn-primary btn-sm">Github</a>
                    <a href="https://azouaoui-med.github.io/lightning-admin-angular/demo/" target="_blank" class="btn btn-success btn-sm">Demo</a>
                    <hr>
                    <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                      <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/lightning-admin-angular?style=social" />
                    </a>
                    <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                      <img alt="GitHub stars" src="https://img.shields.io/github/forks/azouaoui-med/lightning-admin-angular?style=social" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <hr>
      
            
          </div> -->
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Profile</div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Manage Address</div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Purchases</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Billing Information</div>
            </div>
        </main>
        <!-- page-content" -->
      </div>
      <!-- page-wrapper -->
</section>

<script>
    

</script>
<%- include('./includes/footer.ejs')  %> 