<link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
<%- include('./includes/head.ejs')  %> 

<!-- upload the loader -->
<!---->
<%- include('./includes/nav.ejs')  %> 
   







    <%# Carousel %> 
<section class="slide-container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="rowCarousel">
                    <img class="d-block" src="/images/images/carousel2.png" alt="First slide" style="height: 480px" >
                    <div class="ban1">
                        <h3 data-aos="fade-down" data-aos-delay="600" data-aos-once="false">Get up to 50% off today </h3>
                        <h1 data-aos-once="false" data-aos="fade-up" data-aos-delay="1200">Women Fashion</h1>
                        <a href="#" class="nav-link btn btn-danger" data-aos="zoom-out-down" data-aos-once="false" data-aos-delay="2000">Shop Now</a>
                    </div>
                </div>
        
            </div>
            <div class="carousel-item ">
                <div class="rowCarousel">
                    <div class="ban1">
                        <h3 data-aos="fade-down" data-aos-delay="600" data-aos-once="false">Experience of the next level</h3>
                        <h1 data-aos-once="false" data-aos="fade-right" data-aos-delay="1200">Summer Sales</h1>
                        <a href="#" class="nav-link btn btn-danger"data-aos="fade-up" data-aos-once="false" data-aos-delay="2000">Shop Now</a>
                    </div>
                    <img class="d-block" src="/images/images/carousel1.png" alt="First slide" style="height: 480px" >
                </div>
        
            </div>
            <div class="carousel-item ">
                <div class="rowCarousel">
                    <div class="ban1">
                        <h3 data-aos="fade-down" data-aos-delay="600" data-aos-once="false">That feeling of self-worth</h3>
                        <h1 data-aos-once="false" data-aos="fade-right" data-aos-delay="1200">New Collection</h1>
                        <a href="#" class="nav-link btn btn-danger" data-aos="fade-up" data-aos-once="false" data-aos-delay="2000">Shop Now</a>
                    </div>
                    <img class="d-block" src="/images/images/carousel4.png" alt="First slide" style="height: 480px" >
                </div>
        
            </div>
            <div class="carousel-item ">
                <div class="rowCarousel">
                    <img class="d-block" src="/images/images/carousel3.png" alt="First slide" style="height: 480px" >
                    <div class="ban1">
                        <h3 data-aos="fade-down" data-aos-delay="600" data-aos-once="false">50% off in all products</h3>
                        <h1 data-aos-once="false" data-aos="fade-up" data-aos-delay="1200">Men fashion</h1>
                        <a href="#" class="nav-link btn btn-danger" data-aos="zoom-out-down" data-aos-once="false" data-aos-delay="2000">Shop Now</a>
                    </div>
                </div>
        
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
      </div>
</section>

<%# Ads 1 %> 
<section class="ad1">

    <div class="ban1">
        <h3>Super Sales</h3>
        <h1>New Collection</h1>
        <a href="#" class="nav-link">Shop Now</a>
    </div>


    <div class="ban2">
        <h3>Super Sales</h3>
        <h1>New Collection</h1>
        <a href="#" class="nav-link">Shop Now</a>
    </div>

</section>


<%# Exclusive Contents %> 

<%# ads 2 %> 

<section class="ad2">
    <div class="ban3"></div>
    <div class="season-trend">
        <h3>New Season Trend!</h3>
        <h1>Best Summer Collection</h1>
        <h2>Sales Get up to 50% Off</h2>
        <a href="#" class="btn btn-danger"> Shop Now</a>
    </div>
</section>




<%# Featured Products Carousel %> 



<!-- Other Info -->

<section class="services">
<div class="container">
    <div class="row">
        <div class="col-lg-4 add-service ">
            <span></span>
            <h2>Free Delivery</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aperiam.</p>
        </div>
        <div class="col-lg-4 add-service ">
            <span></span>
            <h2>30 Days Return Policy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aperiam.</p>
        </div>
        <div class="col-lg-4 add-service ">
            <span></span>
            <h2>24/7 Support </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aperiam.</p>
        </div>
    </div>
</div>
</section>












<!-- <script>
    window.addEventListener('load', ()=>{
      const loader = document.querySelector('.loader');
      setTimeout(()=>{
        loader.className += 'hidden'
        window.location.redirect('/shop')
      }, 5000)
    })
  </script> -->
 
<%- include('./includes/footer.ejs')  %> 
 