<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="stripe">
      <div class="stripe1"></div>
      <div class="stripe2"></div>
      <div class="stripe1"></div>
      <div class="stripe3"></div>
    </div>
   
    <div class="name">
      <h2 class="welcome">Welcome to</h2>
      <h1>SIMPLE<span>TON</span> 
        <span class="span1"></span>
        <span class="span2"></span>
        <span class="span3"></span>
      </h1>
      <p class="moto">JUST A TON OF SIMPLE THINGS</p>
    </div>

  </body>
</html>
